body {
  background-color: #d8d6d6;
}

p {
  display: block;
}
// canvas {
//   border-radius: 50%;
// }
#myGame {
  border: 1px #010310 outset;
  background-color: #00023c;
  margin-top: 10%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 25px;
  max-width: fit-content;
  .row {
    margin: 0 auto;
  }
  .myround {
    width: 4rem !important;
    height: 4rem;
    padding: 0;
    background-color: #3f5fb4;
    cursor: pointer;
    flex-wrap: nowrap;
    margin: 2px;
    &.yellow {
      background-color: yellow;
    }
    &.red {
      background-color: red;
    }
  }
}

.ft-links,
.ft-copyright {
  margin: 0;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 35%;
  display: flex;
  justify-content: space-between;
}
.ft-links {
  left: 0;
  text-transform: uppercase;
  width: 12%;
  font-size: small;
}
.ft-copyright {
  right: 0;
  font-weight: 100;
}
.won-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($color: #00023c, $alpha: 0.6);
  z-index: 3;
  #message {
    position: relative;
    width: 40%;
    margin: 0 45%;
    margin-top: 22%;
    color: #d8d6d6;
  }
}
